<div class="row">
  <h2>NHL Standings</h2>

  <p><a href="#" id="get-time">What time is it on the server?</a></p>
  <p><a href="#" id="refresh-list"><i class="fa fa-refresh"></i> Refresh List</a></p>
  <table id="box-scores">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
