<div class="row">
  <p><a href="/">&laquo; Back to Standings</a></p>
  <h2>NHL Trash Talk</h2>
  <div class="posts">
    <% if @posts %>
      <% @posts.each do |post| %>
        <div class="panel">
          <h3><strong><%= post.author %></strong> writes:</h3>
          <p><%= post.message %></p>

          <small><%= post.created_at.strftime("%m/%d/%Y %I:%M %p") %></small>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if @post.errors.any? %>
    <div class="alert-box alert">
      <p>There were errors with your submission:</p>
      <ul>
        <% @post.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Get in on the action</h4>
  <form action="/posts" method="post" id="new-post">
    <p>
      <label for="author">Your Name</label>
      <input type="text" name="post[author]" id="author" />
    </p>
    <p>
      <label for="message">Your Message</label>
      <textarea name="post[message]"></textarea>
    </p>
    <p>
      <input type="submit" value="Post" class="button" />
    </p>
  </form>
</div>
